.display-none {
    display: none;
  }
  
  body {
    font-family: "Raleway",sans-serif;
  }
  
  #highscore {
      padding: 20px 35px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      top: 0;
      z-index: 9999;
  }
  
  h1 {
    text-align: center;
    padding: 30px 100px 20px; 
    font-weight: 800;
    margin: 0;
    font-size: 52px;
  }
  
  p {
    padding: 0px 100px 50px 100px;
    text-align: center;
    font-size: 30px;
  }
  
  button {
    display: inline-block;
    cursor: pointer;
    background-color: rgb(3, 80, 3);
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 30px;
    margin:4px 2px;
    border-radius: 15px;
  }
  button:hover {
    background-color:  rgb(34, 214, 73);
  }
  
  #start {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  ol li {
    padding: 5px;
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 25px;
  }
  
  .answer-list-item {
    padding: 10px 0 px 10px 15px;
    background-color: rgb(3, 24, 80);
    border-radius: 50px;
    margin: 20px 220px 0px 220px;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
  
  .answer-list-item:hover {
    background-color:  rgb(34, 214, 73);
    cursor: pointer;
  }
  
  
  #countdown {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
  }
  
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid rgb(201, 193, 193);
  }
  
  #submit_section {
    text-align: center;
    font-size: 30px;
  }
  
  #submit_button {
    margin: 0;
    position: relative;
  }
  
  input {
    font-size: 30px;
    border-style: solid;
    border-color: rgb(130, 238, 162);
    border-width: 5px;
  }
  
  #button_section {
    text-align: center;
  }
  
  #score_list li {
    padding: 10px 0 px 10px 15px;
    background-color: rgb(3, 80, 29);
    border-radius: 10px;
    margin: 10px 130px 0px 130px;
    color: white;
  }
  
  #score_list li:nth-child(even) {
    background-color: rgb(55, 146, 60);
  }
  
  ::marker {
    color: rgb(3, 80, 57);
    font-size: 1.2em;;
  }
 
  
  h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }
  
  .container {
    text-align: center;
  }
  
  button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
  } 

  *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color: #039be5;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: right;
}

button:hover {
  background-color: #0288d1;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  color: #5f6368;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

input:hover {
  background-color: #e8eaed;
}

.card {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 80px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position: relative;
  float: left;
}

.card::after {
  content: ' ';
  display: block;
  clear: both;
}

.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #52b155;
}

#msg.error {
  color: #e6252c;
}
 
